@import './base.css';

#app {
  max-width: 1280px;
  margin: 0 auto;
  font-weight: normal;
}

body {
  display: block !important;
  place-items: normal !important;

  background: linear-gradient(270deg, rgb(18, 199, 139), rgb(255, 255, 255), rgb(153, 153, 153), rgb(121, 206, 166));
  background-size: 400% 400%;
  animation: gradientSlightlyMove 12s ease infinite;
  min-height: 80vh;
}

/*
  Used to figure out how to apply moving gradient with keyframes:
  https://stackoverflow.com/questions/23441060/how-to-animate-gradients-using-css
*/

@keyframes gradientSlightlyMove {
  0% {
    background-position: 0% 50%;
  }

  50% {
    background-position: 100% 50%;
  }

  100% {
    background-position: 0% 50%;
  }
}

/* a,
.green {
  text-decoration: none;
  color: hsla(160, 100%, 37%, 1);
  transition: 0.4s;
  padding: 3px;
}

@media (hover: hover) {
  a:hover {
    background-color: hsla(160, 100%, 37%, 0.2);
  }
}

@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }

  #app {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 0 2rem;
  }
} */
